html {
    border-top: 2px solid#f78a0e;
}

div {
    padding: 10px 0 10px 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,138,14, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #f78a0e;
}

p {
    padding-top: 0.8rem;
    font-size: 1.5rem;
    line-height: 200%;
}

h1 {
    line-height: 1.5;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a:hover {
    transition: all 0.5s ease;
}

.navbar {
    padding-left: 0;
    padding-top: 2rem;
}

.navbar a {
    color: black;
}

#main a, .footer a {
    text-decoration: none;
    color: #f78a0e;
    font-size: 1.5rem;
}

a:hover, a.nav-link.active, a.nav-link:hover {
    text-decoration: none;
    color: #f78a0e;
}

.gray, a.gray {
    color:#b5b5b5;
}

.medium-font {
    font-size: 1.2rem;
}

.footer {
    background: #1D1D1D;
    color: #b5b5b5;
}